@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
    background-color: hsl(180, 52%, 96%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
